/* Buttons used across the site (landing actions, primary/secondary) */
.landing-actions__button-primary {
  background-color: white;
  border: none;
  color: #3b4c3a;
  font-size: 2rem;
  font-weight: 500;
  font-family: 'Georgia', serif;
  padding: 1.6rem 3rem;
  border-radius: 5rem;
  text-align: left;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}
.landing-actions__button-secondary {
  background-image: url('https://www.transparenttextures.com/patterns/dark-wood.png');
  background-color: rgb(131, 66, 26);
  border: none;
  color: white;
  box-shadow: 0 0 0.4rem rgb(30, 30, 30);
  font-size: 2rem;
  font-weight: 500;
  padding: 1.6rem 3rem;
  border-radius: 5rem;
  text-align: left;
  font-family: 'Georgia', serif;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.landing-actions__button-primary:hover {
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 1);
}

.landing-actions__button-secondary:hover {
  background-color: rgb(111, 52, 14);
}
