* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  font-family: Arial, sans-serif;
  background-color: #3b4c3a;
  color: #333;
}

header {
  width: 100%;
  padding: 1rem 1.8rem;
  display: flex;
  justify-content: flex-start;
  position: fixed;
  box-shadow: 0 4px 40px 0px rgba(0, 0, 0, 0.1);
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0.05) 100%
  );
}

.header__logo {
  color: white;
  font-size: 3rem;
  font-weight: 300;
  font-family: "Georgia", serif;
  margin-top: 2rem;
  margin-left: 2rem;
  user-select: none;
  cursor: pointer;
}

.welcome-1 {
  font-size: 3rem;
}

.welcome-2 {
  width: 70%;
  font-size: 8rem;
  line-height: 12rem;
}

.welcome-3 {
  font-size: 3rem;
}

main {
  width: 100%;
  padding-right: 45rem;
  padding-left: 22rem;
  display: flex;
  flex-direction: column;
}

.leftColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1rem;
}

.rightColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.landing-actions {
  display: flex;
  justify-content: flex-start;
  column-gap: 3rem;
  padding-top: 3rem;
}

.landing-actions__button-primary {
  background-color: white;
  border: none;
  color: #3b4c3a;
  font-size: 2rem;
  font-weight: 500;
  padding: 1.6rem 2.5rem;
  border-radius: 5rem;
  text-align: left;
  font-family: "Georgia", serif;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.landing-actions__button-secondary {
  background-color: #3b4c3a;
  border: none;
  color: white;
  box-shadow: 0 0 0.4rem rgb(30, 30, 30);
  font-size: 2rem;
  font-weight: 500;
  padding: 1.6rem 2.5rem;
  border-radius: 5rem;
  text-align: left;
  font-family: "Georgia", serif;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.landing-actions__button-primary:hover {
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 1);
}

.landing-actions__button-secondary:hover {
  background-color: #2a3b2a;
}

main h1 {
  color: white;
  font-size: 2.5rem;
  font-family: "Georgia", serif;
  margin-bottom: 4rem;
  font-weight: 300;
  user-select: none;
  animation: appear ease-in-out 1s;
}

main h2 {
  font-size: 4rem;
  color: white;
  font-family: "Georgia", serif;
  margin-bottom: 4rem;
  font-weight: 300;
  user-select: none;
  animation: reveal ease-in-out;
  animation-timeline: view();
  animation-range: cover 0% cover 80%;
}

main p {
  font-size: 2rem;
  color: white;
  font-family: "Georgia", serif;
  line-height: 1.5;
  margin-bottom: 2rem;
  user-select: none;
}

main .me {
  width: 38rem;
  height: 38rem;
  border-radius: 50%;
  box-shadow: 0 0 0.5rem rgb(30, 30, 30);
  animation: appear ease-in-out 1s;
}

.sideBarNav__nav {
  width: 26rem;
  height: 60rem;
  position: fixed;
  right: 10rem;
  top: calc(50vh - 30rem);
  padding: 1rem;
  border-left: 1px solid #f9f9f6ca;
}

.sideBarNav__nav ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sideBarNav__nav ul li {
  height: 20%;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: background-color 0.3s ease;
}

.sideBarNav__nav ul li:hover {
  background-color: #f9f9f6ca;
}

.sideBarNav__nav ul li:hover button {
  color: #3b4c3a;
}
.sideBarNav__nav ul li button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 2.5rem;
  font-weight: 300;
  padding-left: 2rem;
  text-align: left;
  font-family: "Georgia", serif;
  cursor: pointer;
}

main .firstPage {
  width: 100%;
  height: calc(100vh - 7.4rem);
  display: flex;
  justify-content: space-between;
  padding-top: 10rem;
}

main .firstPage p {
  animation: appear ease-in-out 1s;
}

main .secondPage {
  width: 100%;
  height: calc(100vh - 7.4rem);

  display: flex;
  flex-direction: column;
  padding-top: 10rem;
}

main .thirdPage {
  width: 100%;
  height: calc(100vh - 7.4rem);
  display: flex;
  flex-direction: column;
  padding-top: 10rem;
}

main .secondPage p {
  animation: reveal ease-in-out 1s;
  animation-timeline: view();
  animation-range: cover 0% cover 50%;
}

@keyframes reveal {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@media screen and (min-width: 5px) and (max-width: 500px) {
  main {
    width: 100%;
    padding-right: 3rem;
    padding-left: 3rem;
    display: flex;
    flex-direction: column;
  }
  .header__logo {
    margin-left: 1rem;
  }
  main h1 {
    margin-bottom: 1rem;
  }
  main p {
    margin-bottom: 0rem;
  }
  main .me {
    width: 30vw;
    height: 30vw;
  }
  .welcome-message {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30vh;
  }
  .welcome-1,
  .welcome-3 {
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .welcome-2 {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    font-size: 5rem;
    line-height: 7rem;
  }
  .leftColumn {
    height: 100vh;
    max-height: 700px;
    justify-content: space-between;
    padding-top: 8rem;
    row-gap: 0rem;
  }
  .rightColumn {
    position: absolute;
    top: 50vh;
  }
  main .firstPage,
  main .secondPage,
  main .thirdPage {
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
  }
  .landing-actions {
    width: 100%;
    column-gap: 2rem;
    justify-content: space-between;
  }
  .sideBarNav__nav {
    display: none;
    width: 10rem;
    right: 1rem;
  }
  .sideBarNav__nav ul li button {
    font-size: 1.8rem;
    padding-left: 1rem;
  }
}

@media screen and (min-width: 500px) and (max-width: 700px) {
  header {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
  }
  .header__logo {
    font-size: 2.5rem;
    margin-top: 1rem;
    margin-left: 1rem;
  }
  main {
    padding: 8rem 1rem 2rem 1rem;
  }
  .welcome-1,
  .welcome-3 {
    font-size: 2.2rem;
  }
  .welcome-2 {
    font-size: 5rem;
  }
  .main .me {
    width: 18rem;
    height: 18rem;
  }
  .sideBarNav__nav {
    display: none;
  }
  .landing-actions__button-primary,
  .landing-actions__button-secondary {
    font-size: 1.6rem;
    padding: 1.2rem 2.5rem;
  }
  main .firstPage,
  main .secondPage,
  main .thirdPage {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    padding-top: 2rem;
  }
}

@media screen and (min-width: 700px) and (max-width: 900px) {
  main {
    padding: 10rem 2rem 2rem 2rem;
  }
  .welcome-2 {
    font-size: 8rem;
  }
  .sideBarNav__nav {
    width: 18rem;
    height: 40rem;
    top: calc(50vh - 20rem);
  }
  .main .me {
    width: 28rem;
    height: 28rem;
  }
}

/* Responsive styles */
@media screen and (min-width: 900px) and (max-width: 1200px) {
  main {
    width: 80%;
    padding: 8rem 9rem 2rem 5rem;
  }
  .welcome-1 {
    font-size: 2.5rem;
  }
  .welcome-2 {
    font-size: 6rem;
    line-height: 8rem;
  }
  .welcome-3 {
    font-size: 2.5rem;
  }
  .rightColumn {
    height: 65%;
  }
  .leftColumn {
    row-gap: 3rem;
  }
  main .me {
    width: 30rem;
    height: 30rem;
  }
  .sideBarNav__nav {
    width: 22rem;
    right: 2rem;
  }
  .sideBarNav__nav ul li button {
    font-size: 2rem;
  }
}
